
  <!-- Calculators -->
  <h2>Calculators</h2>
  <p>Here are some Helath Calaculators to help you get started:</p>

  <div class="card-container">
    <a class="card" routerLink="/body">
    
      <span>Body measurements</span>
     </a>

    <a class="card" routerLink="/bmi">

      <span>BMI calculators</span>

    </a>

    <a class="card" routerLink="/army" >

      <span>Army calculators</span>

    </a>

    <a class="card"  routerLink="/dietary">

      <span>Dietary calculators</span>

    </a>
    <a class="card" routerLink="/diabetes" >

      <span>Diabetes calculators</span>

    </a>

    <a class="card"  routerLink="sleep">

      <span>Sleep calculators</span>

    </a>

  </div>
